/* Sticky footer styles  
 * bottom acb0bd
 * top f1f2f5
 * body caccd4
 * menu active: 97a3af
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */ 
  background-color: #f5f5f5;
	border-top:2px solid #dfe8f6!important;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.form-group {
	margin:1px!important;
}

.form-control {
  display: block;
  width: 100%;
  height: 26px!important;
  padding: 3px 5px!important;
  font-size: 11px!important; 
  color: #555;
  background-color: #fff;
  background-image: none;
	-webkit-border-radius:2px 2px 2px 2px;!important
	-moz-border-radius:2px 2px 2px 2px!important;
	border-radius:2px 2px 2px 2px!important;
	border:1px solid #7f9db9!important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-group label.control-label {
  font-size: 11px!important;
  border:0px solid #f00;
  padding-right: 1px!important;
}
.form-group textarea.form-control {
  height: 50px!important;
}
.form-group textarea.form-control-lg {
  height: 50px!important;
}
.form-group span.ui-avatar-image-span { 
  margin-left:10px!important;
}
.form-group img.ui-avatar-image-input {
  width: 60%!important;
  height: 60%!important; 
}
.form-group input.ui-input-file-form {
  height: 30px!important;
}
.ui-hot-key {
	text-decoration:underline!important;
}
.ui-text-left-align {
	text-align:left!important;
}
.ui-text-center-align {
	text-align:center!important;
}
.ui-text-right-align {
	text-align:right!important;
}
.input-group-btn button.btn img.btn-img {
	width:12px!important;
	height:12px!important;
}
.input-group-btn button.btn {
	padding:5px 10px 5px 10px!important;
}
.input-group-btn button.dropdown-toggle {
	padding:3px 10px 3px 10px!important;
}
.ui-btn-input-group {
	display:inline-block!important;
	vertical-align:middle!important;
	border:1px solid #f00!important;
	margin:0px!important;
	padding:0px!important;
}
.ui-btn-input-group input.ui-input-inline-option { 
	vertical-align:top!important; 
	margin:0px!important;
	border:1px solid #f00!important;
	padding:0px!important;
}
.input-group-addon {
	 padding: 4px 8px!important; 
}
.input-group-addon-sm {
	font-size:11px!important;
	font-weight:bold!important;
}
.input-group-btn .dropdown-toggle {
	padding: 4px 12px!important; 
	font-size:11px!important;
	letter-spacing:0.06em!important;
} 
.btn-action-img img.btn-img-sm {
	width:14px!important;
	height:14px!important;
	margin-right:8px!important;
	margin-left:2px!important;
	vertical-align:middle!important;
	border:0px solid #f00!important;
}
.btn-action-img img.btn-img-xs {
	width:12px!important;
	height:12px!important;
	margin-right:8px!important;
	margin-left:2px!important;
	vertical-align:middle!important;
	border:0px solid #f00!important;
} 
input.ui-disabled-input-box { 
}
.error { 
	color: #ee0000!important; 
	padding-left: 2px; 
}
.required-error { 
	color: #ee0000!important; 
	padding-left: 2px!important;    
	padding-top: 8px!important;    
	font-size:0.88em!important;
	font-weight:bold!important;
	letter-spacing:0.1em!important;
}
.invalid-error { 
	color: #ee0000!important; 
	padding-left: 2px!important;    
	padding-top: 8px!important;    
	font-size:0.88em!important;
	font-weight:bold!important;
	letter-spacing:0.1em!important;
}
input.has-input-error { 
	color: black!important;
	border:1px solid #ee0000!important;
	background:#ebccd1!important;
}
span.has-input-error { 
	color: red!important;
	border:1px solid #ee0000!important; 
	border-radius: 1px 3px 3px 0px;
}

.btn-padding {
	padding:2px 19px 2px 19px!important;
  font-size: 11px!important;
}
.btn-padding-sm {
	padding:2px 15px 2px 15px!important;
  font-size: 11px!important;
}
.ui-date-input {
  cursor: pointer!important;
}
.ui-data-modal {
  cursor: pointer!important;
}
/********************************************/
.ui-list-box-container {
	margin-bottom:30px!important;
}
#ui-success-message-box {
	color:#f00;
}
#ui-error-message-box {
	color:#f00;
}
.ui-red-text {
	color:#f00!important;
}
/************* Blog ***************/
.ui-img-applied {
	margin-left:5px!important;
	margin-right:0px!important;
}
.ui-container-box {
  padding-right: 0px;
  padding-left: 0px; 
}
.ui-mandatory {
	color:#f00!important;
	font-size:12px!important;
}
.blog-masthead-box {
	margin-top:3px;
}
.blog-masthead-box-right-align {
	float:right;
}
.blog-masthead-box a {
	color:#172fb7!important;
	font-size:12px!important;
	border:0px solid #000;
	padding:2px 5px 2px 3px;
}
.blog-masthead-breadcrumbs  {
	color:#172fb7!important;
	font-size:12px!important;
	border:0px solid #000;
	padding:1px 5px 5px 10px;
	margin-bottom:10px!important;
}
.ui-welcome  {
	color:#ff0!important; 
	font-size:12px!important; 	
}
.blog-masthead-breadcrumbs a {
	color:#172fb7!important;
	font-size:12px!important;
	border:0px solid #000;
	padding:9px 5px 2px 3px;
}
fieldset.ui-content-fieldset legend {
	font-size:14px!important;
}
fieldset.ui-content-fieldset img {
	margin-right:4px!important;
}

.navbar-right {
	float: right !important;
	margin-right: -15px;
  }

/*
 * Masthead for nav
 */
 


.tooltip {
  min-width: 200px;
  max-width: 500px;
}
.tooltip .tooltip-inner {
  min-width: 200px;
  max-width: 500px;
  min-height: auto;
  text-align: left;
}
.container-viewport {
  position: absolute;
  top: 100px;
  right: 250px;
  left: 250px;
  height: 300px;
  background-color: #eee;
}
.btn-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
.ui-super-script {
	font-size:8px!important;
	font-weight:bold!important;
	vertical-align:top!important;
	margin-top:-5px!important;
}

/************** Forms ****************/

.ui-row {
  margin-right: -5px!important;
  margin-left: 5px!important;
  margin-bottom: 5px!important;
}
.ui-row fieldset.ui-form-fieldset-frame {
  margin-bottom: 10px!important;
}
.ui-row fieldset.ui-form-fieldset-frame legend.ui-form-legend {
  font-size: 10px!important;
}
.ui-col-sm {
  margin-bottom: 5px!important;
}
.ui-col-sm-fieldset {
  margin-bottom: 5px!important;
}
.ui-form-content {
	width:100%!important;
	border: 0px solid #f00!important;
}

/******************/ 
.navbar-collapse ul.navbar-nav a:hover {
  color: #555!important;
  background-color: #e7e7e7!important;
}
.navbar-collapse .dropdown img.ui-navbar-img {
	width:20px!important;
	height:20px!important;
	padding:0px 0px 0px 0px!important;
	margin:-5px -2px -5px 0px!important;
}
.navbar-collapse ul.nav li.ui-empty-menu a:hover {
	background:#000066!important;
}
/******************/ 

.ui-pagination { 
	border: 0px solid #f00!important;
	margin:0px 0px!important;  
	padding:0px 10px 0px 10px!important;
	text-align:center!important;
}
.ui-pagination ul.pagination { 
	border: 0px solid #f00!important;
	margin:0px 0px!important;  
	padding:0px 10px 0px 10px!important;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 3px 9px!important;
  font-size: 11px!important;
  line-height: 1.5!important;
}
/*********************************************/
 
/********************/
.container-fluid {  
	background:#000066!important;
	border: 0px solid #f00!important;
}
.navbar-header {  
	border: 0px solid #f00!important;
	width:auto!important;
	padding-top: 2px!important;
	padding-right: 6px!important;
	font-weight:bold!important;
	color:#ff0!important; 
}
.navbar-brand { 
	border: 0px solid #f00!important;
	padding: 14px 16px 0px 0px!important;
	color:#222!important;
}
.navbar-brand-sm {   
}
.navbar-back1 {   
	background:#122646!important; 
}
.ui-module-box {   
	border: 0px solid #f00!important;
	color:#fff!important; 
	font-size:20px!important; 
	font-weight:bold!important; 
	background:#1b63a2!important; 
	padding: 10px 18px 10px 10px!important;
	margin: 50px 0px 0px 0px!important;
	text-shadow: #444 0.08em 0.08em 0.08em;
	letter-spacing:0.02em;
}
.navbar {  
	border: 0px solid #f00!important; 
	padding: 0px 0px!important;
}
.navbar img.mu-logo-sm {  
	width: 28px!important;
	margin-top:-4px!important;
	margin-right:4px!important;
	margin-left:10px!important;
}
.navbar ul.nav {
	border: 0px solid #f00!important;
	padding:0px!important;
	margin:0px!important;
}
.navbar ul.nav li {
	color:#fff!important;
	font-size:12px!important;
	font-weight:bold!important;
	padding: 0px 0px!important;
	letter-spacing:0.02em;
}
.navbar ul.nav li a {
	color:#222!important;
}


.nav li.ui-navbar-right img.ui-logout-img {
	width:11px!important;
	height:10px!important;
	margin:0px!important;
	padding:0px!important;
	margin-top:-1px!important;
	margin-right:8px!important;
} 
/*
.navbar ul.nav li span.ui-welcome {  
	padding: 10px 10px!important;
	margin-top:10px!important;
	color:#ff0!important; 
}
.navbar-nav {  
	border: 0px solid #f00!important;
}
.navbar ul.nav {
	border: 0px solid #f00!important;
	padding:0px!important;
	margin:0px!important;
}
.navbar ul.nav li {
	color:#fff!important;
	font-size:2px!important;
	font-weight:bold!important;
}
.navbar ul.nav li a {
	color:#fff!important;
	font-size:12px!important;
}
.navbar ul.nav li a:active {
	background:#f00!important;
}*/
.ui-main-box {
	border-left:4px solid #dfe8f6!important;
	padding:0px!important;
	margin:0px!important;
	min-height:620px!important;
}
.sidebar1 {
	top: 0px!important; 
	margin:0px 0px!important;  
	padding:0px 0px 0px 0px!important; 
}

/********************/
.ui-random-words {
	margin:2px 2px!important; 
	color:#900!important;
	background:#eee!important;
	font-size:20px!important;
}
.ui-random-words input:after { 
	clear:both!important;
}
.ui-random-words input { 
	margin:0px 0px!important;
	padding:10px 8px!important;
	color:#900!important;
	background:#eee!important;
	font-size:20px!important;
	float:left!important; 
	border:1px solid #689ff1;
	text-align:center!important;
	-webkit-border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
	border-radius:4px 4px 4px 4px;
	-webkit-box-shadow: 0 0px 1px #fff;
	-moz-box-shadow: 0 0px 1px #fff;
	box-shadow: 0 0px 1px #fff;
}
.ui-list-table-content table.ui-detail-table {

}
.ui-list-table-content .txt-bold tr td {
	font-weight:bold!important;
}
.ui-list-table-content table.ui-detail-table tbody tr td {
	color:#222!important;
	font-size:12px!important;
	line-height:14px!important; 
	padding:4px 8px!important; 
	 
	vertical-align:middle!important; 
	cursor:pointer!important;
	white-space: nowrap!important;  
}
 
 
/**************/

.input-group-btn button.btn img.btn-img {
	width:12px!important;
	height:12px!important;
}
.input-group-btn button.btn {
	padding:5px 10px 5px 10px!important;
}
.input-group-btn button.dropdown-toggle {
	padding:3px 10px 3px 10px!important;
}
.ui-btn-input-group {
	display:inline-block!important;
	vertical-align:middle!important;
	border:1px solid #f00!important;
	margin:0px!important;
	padding:0px!important;
}
.ui-btn-input-group input.ui-input-inline-option { 
	vertical-align:top!important; 
	margin:0px!important;
	border:1px solid #f00!important;
	padding:0px!important;
}
.input-group-addon {
	 padding: 4px 8px!important; 
}
.input-group-addon-sm {
	font-size:11px!important;
	font-weight:bold!important;
}
.input-group-btn .dropdown-toggle {
	padding: 4px 12px!important; 
	font-size:11px!important;
	letter-spacing:0.06em!important;
} 
.btn-action-img img.btn-img-sm {
	width:14px!important;
	height:14px!important;
	margin-right:8px!important;
	margin-left:2px!important;
	vertical-align:middle!important;
	border:0px solid #f00!important;
}
.btn-action-img img.btn-img-xs {
	width:12px!important;
	height:12px!important;
	margin-right:8px!important;
	margin-left:2px!important;
	vertical-align:middle!important;
	border:0px solid #f00!important;
} 
input.ui-disabled-input-box { 
}
.error { 
	color: #ee0000!important; 
	padding-left: 2px; 
}

/**************/

.ui-login-form {

}
.ui-login-form label {
	padding:2px 2px 0px 0px!important; 
	margin:4px 2px 0px 0px!important; 
	font-size:11px!important;
	letter-spacing:0.02em!important;
}
.ui-login-form input {
	padding:4px 2px 4px 4px!important; 
	font-size:11px!important;
	font-weight:bold!important;
	letter-spacing:0.02em!important;
	height: 25px!important;
}
.ui-login-form select {
	padding:4px 4px 4px 4px!important; 
	font-size:11px!important;
	letter-spacing:0.02em!important;
  height: 25px!important;
}
.ui-login-form .btn-default {
	padding:6px 4px 6px 4px!important; 
	font-size:11px!important;
	letter-spacing:0.02em!important;
	height: 25px!important;
}
.ui-login-form button.btn-primary {
	padding:10px 4px 10px 4px!important; 
	font-size:13px!important;
	font-weight:bold!important;
}
.input-group-btn img.btn-img {
	width: 24px!important;
	height: 24px!important;
}
.ui-login-form .checkbox input {
	margin:-2px 2px 1px 0px!important;
}
 
.ui-login-form .checkbox label {  
	margin:0px 0px 0px 0px!important; 
	padding:7px 0px 7px 0px!important; 
	font-size:11px!important;
	font-weight:bold!important;
	letter-spacing:0.02em!important;
}
.ui-login-form .checkbox {  
	padding:2px 4px 2px 1px!important; 
	border:0px solid #689ff1!important;
	margin:0px 0px 0px 0px!important; 
	font-size:11px!important;
	font-weight:bold!important;
	letter-spacing:0.02em!important;
}
   
/******************************************/
.ui-alert { 
	padding:8px 30px 8px 30px!important; 
	margin:10px 0px 0px 0px!important; 
	font-size:12px;
	font-weight:bold;
}
 
/**************************************************/
/*********  Modal ************/
.modal { 
	border: 0px solid #f00!important;
}
.modal-dialog {
  width: 86%!important;
  margin-left:auto!important;
  margin-right:auto!important;
  margin-top:50px!important;
}
.modal-dialog-xlg {
  width: 66%!important;
  margin-left:auto!important;
  margin-right:auto!important;
  margin-top:50px!important;
}
.modal-dialog-mlg {
  width: 56%!important;
  margin-left:auto!important;
  margin-right:auto!important;
  margin-top:50px!important;
}
.modal-dialog-msm {
  width: 46%!important;
  margin-left:auto!important;
  margin-right:auto!important;
  margin-top:50px!important;
}
.modal-dialog-xsm { 
  width: 300px!important;
  margin-left:auto!important;
  margin-right:auto!important;
  margin-top:150px!important;
}
.modal-dialog-sm { 
  width: 500px!important;
  margin-left:auto!important;
  margin-right:auto!important;
  margin-top:150px!important;
}
.modal-dialog-xxsm { 
  width: 100px!important;
  height: 100px!important;
  margin-left:auto!important;
  margin-right:auto!important;
  margin-top:150px!important;
  border:0px solid #689ff1!important;
}
.modal-content { 
   padding: 4px 4px!important;
}
.modal-content-container {  
	border:1px solid #689ff1!important;    
	-webkit-border-radius:2px 2px 0px 0px!important;
	-moz-border-radius:2px 2px 0px 0px!important;
	border-radius:2px 2px 0px 0px!important;
  padding: 1px 1px!important;
}
.modal-header {
  padding: 5px 12px!important;
  border-bottom: 0px solid #f00!important;
}
.modal-header-info {
	background-color: #dce7f4!important; 
	background: -moz-linear-gradient(100% 100% 90deg, #ceddf0, #dce7f4)!important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dce7f4), to(#ceddf0))!important;
	background: -webkit-linear-gradient(#ceddf0, #dce7f4)!important;
	background: -o-linear-gradient(#ceddf0, #dce7f4)!important;   
	padding:1px 10px 1px 6px!important;
	margin-bottom:1px!important;
	border:1px solid #99bce8!important;  
	border-bottom:1px solid #689ff1!important;    
	-webkit-border-radius:2px 2px 0px 0px!important;
	-moz-border-radius:2px 2px 0px 0px!important;
	border-radius:2px 2px 0px 0px!important;
}
.modal-header .close {
  margin-top: 0px!important;
  margin-right: 2px!important;
}
/*
.modal-header .close {
  width: 18px!important;
  height: 18px!important;
  float: right!important;
  font-size: 21px!important;
  font-weight: bold!important;
  line-height: 1!important;
  color: #000!important;
  text-shadow: 0 1px 0 #fff!important;
}*/
.modal-title {
	font-size:12px!important;
	font-weight:bold!important;
	color:#3a428b!important;
	margin: 0;
	line-height: 1.42857143;
	padding: 4px 8px!important;
	border: 0px solid #f00!important;
}
.modal-title img {
	width:14px!important;
	height:14px!important;
	vertical-align:middle!important;
	margin-right:6px!important;
	margin-top:-1px!important;
	padding:0px!important; 
	cursor:pointer!important;
	border:0px solid #f00!important;  
}
.modal-body {  
	padding:0px!important;
}
.modal-body-container {  
	border:0px solid #689ff1!important;     
}
.modal-footer-container {  
	border-top:0px solid #689ff1!important;     
	margin: 0px 0px 0px 0px!important;
}
.modal-footer-top-border {  
	margin: -2px 0px 0px 0px!important; 
}
.modal-footer {  
	border:0px solid #689ff1!important;     
	padding: 8px 15px 8px 0px!important; 
}
.modal-footer-empty {  
	border:0px solid #689ff1!important;     
	padding: 12px 15px 12px 0px!important; 
}
.ui-ajax-loader-text img {
	padding:5px!important;
	width:auto!important;
	height:auto!important;
}
.ui-ajax-loader-content {
	/*background: #fff url(../images/icons/ajax-loader.png) center no-repeat!important;*/
}
.ui-ajax-loader-text {
	font-size:12px!important;
	font-weight:bold!important;
	color:#fff!important;
}
